/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-image: url(hotel.gif);
  background-repeat: no-repeat;
  background-size: 100%;


}
.box {
    background-color: #59cad0;
    border: 2px solid black;
    /* width: 50%; */
    padding: 10px;

}
#navbar {
    background-color: #92dc32;

    width: 30%;
    border: 2px solid black;
    padding: 10px;
    Margin:0 auto;
    Display: block;
}
#spacer1{
    height: 200px;
}
button {
    background-color: #a28281;
    /* color: white; */
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    /* float: right; */
}

#pointlessBox{
  height:300px;
  width: 50%;
  display: none;
  position: absolute;
  margin-left: 30%;
  text-align: center;


}
